.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #F5DEB3;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #F5DEB3;
}
.tooltip-inner {
  color: #000;
  background-color: #F5DEB3;
  border-radius: 0.25rem;
}